[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-WTF = "*"
sqlalchemy = "*"
flask-migrate = "*"
psycopg2-binary = "*"
alembic = "*"
flask-wtf = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.8"
