{% extends 'main/base.html' %}

{% block content %}

<p>тут будет информация о животном</p>

<p>здесь информация о последней вакцинации</p>
<a href="/animal/procedure_list">список вакцинаций</a>
<a href="/add_procedure">добавить информацию о новой вакцинации</a>

<p>а здесь информация о последней обработке от паразитов</p>
<a href="/animal/procedure_list">список обработок от паразитов</a>
<a href="/add_procedure">добавить информацию о новой обработке от паразитов</a>

<p><a href="/">на главную</a></p>
{% endblock %}