{% extends 'main/base.html' %}

{% block content %}

<div>
    <p>Имя животного: {{ context.animal.name }}</p>
    <p>Вид животного: {{ context.animal.species }}</p>
    <p>Порода: {{ context.animal.breed }}</p>
    <p>Дата рождения: {{ context.animal.birth_date }}</p>
</div>

<p>{{ context.vaccination }}</p>
<a href="/animal/procedure_list">список вакцинаций</a>
<a href="/add_procedure">добавить информацию о новой вакцинации</a>

<p>а здесь информация о последней обработке от паразитов</p>
<a href="/animal/procedure_list">список обработок от паразитов</a>
<a href="/add_procedure">добавить информацию о новой обработке от паразитов</a>

<p><a href="/">на главную</a></p>
{% endblock %}